<!-- Página Principal-->

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Happy Weather</title>
        <link href="{{ url_for('static', path='/styleHomepage.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>


    <body>
        <!-- Barra de navegação-->
        <nav class="navbar navbar-expand-lg bg-light" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Happy Weather</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" >
                            <a class="nav-link active" aria-current="page" href="/Results/Results_heather">Clima da sua Cidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/ByCity/By_City">Clima de Outra Cidade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class ="Boxes">
            <div class="BoxTextButton">
                <div class="TextOfBoxText">
                    <h1>Bem vindo ao Happy Weather!</h1>
                    <h3>Aqui você consegue descobrir não só o clima de sua cidade, mas tambem a de qualquer outra cidade do mundo! </h3>
                </div>
                <div id="Button">
                    <a href="/pickWay/choice">
                        <button type="button" class="btn btn-primary" >Consulte o clima</button>
                    </a>
                </div>
            </div>
            <div class="BoxTextButton">
                <div class="Text">
                    <h1>Este site é educacional.</h1>
                    <p>Site feito para a disciplina de Sistemas Distribuidos ministrada pelo professor Bruno Dalmazo,
                        presente na grade acadêmica do curso de Engenharia de Computação da Universidade Federal de Rio Grande<p>
                    <p>Por: Marina Hurtado, Marcone Marques.</p>
                </div>
            </div>
        </div>

    </body>
</html> 